.room-art {
  background-image: url('/public/images/cat-room/room-overview-initial-day-master-v1.png');
}

.focus-art {
  background-image: url('/public/images/cat-room/rug-focus-empty-day-v2.png');
}

.cat-zone {
  display: none;
}
